

<% if user_signed_in? %>
    <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Blogbuddy</a>
    <div class="flex items-center justify-betweeen">
        <div class="border-full cursor-pointer"><%= user_initials(current_user.email)  %></div>
    </div>
  </div>
</nav>
  
<% end %>

