<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Blogbuddy</a>
    <div class="d-flex align-items-center gap-3" role="search">

        <div>
            <span type="button" class="material-symbols-outlined"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
add_circle
</span>
        </div>
       <% if user_signed_in? %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete,  class: "btn btn-primary" %> 
          <% else %>
          <%= button_to "Sign in", new_user_session_path, class: "btn btn-primary"%> 
       <% end %>

    </div>
  </div>
</nav>

<%= render 'posts/form', post: Post.new %>