

<% if user_signed_in? %>
    <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand text-sky-600 font-bold text-md">Blogbuddy</h1>
    <div class="flex items-center justify-betweeen gap-3">
        
        <div>
          <span class="material-symbols-outlined cursor-pointer">
edit_square
</span>
        </div>
        <div class="flex items-center justify-center rounded-full w-8 h-8 cursor-pointer bg-sky-600 text-center text-white">
          <%= user_initials(current_user.email) %>
          </div>
         <%= button_to "Sign out", destroy_user_session_path, method: :delete,  class: "btn btn-primary", data: { turbo: false }   %> 
         
    </div>
  </div>
</nav>
  
<% end %>

