
<span type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"  class="material-symbols-outlined">
comments
</span>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Comments</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    
    
    <% if post.comments.count > 0 %>
          
          <small><%= post.comments.count  %></small>

    <% end %>
    
    <% post.comments.each do |comment| %>

     <p><span><%= comment.user.username %></span><span><%= comment.body %></span></p>
        
    <% end %>
     
  </div>
</div>